::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /**/
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scroll-thumb);
  border-radius: 0.25em;
}

:root {
  --c-bg: #f6f8fa;
  --c-scroll-thumb: #b9b9b9;
  --c-text-slate: rgb(148, 163, 184);
}

html {
  font-family: system-ui, sans-serif;
  background-color: var(--c-bg);
  color: var(--c-fg);
}

html.dark {
  --c-bg: #1a1a1a;
  --c-scroll-thumb: #4c4c4c;
}

main {
  max-width:100ch;
  margin: 0 auto;
  padding: 2em 2em 8em 2em;
}

@media (max-width: 768px) {
  main {
    padding-top: 2em;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}
.mt-2 {
  margin-top: 0.5rem;
}
.fi, [fi=""] {
  display: flex;
  align-items: center;
}
.gpt-title {
  margin-right: 0.25rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
}
.gpt-subtitle, [gpt-subtitle=""] {
  --un-gradient-from: rgba(56,189,248,var(--un-from-opacity, 1));
  --un-gradient-to: rgba(56,189,248,0);
  --un-gradient-stops: var(--un-gradient-from), var(--un-gradient-to);
  --un-gradient-to: rgba(5,150,105,var(--un-to-opacity, 1));
  --un-gradient-shape: to right;
  --un-gradient: var(--un-gradient-shape), var(--un-gradient-stops);
  background-image: linear-gradient(var(--un-gradient));
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
  color: transparent;
}

/**
以下尝试全屏viewport-fit
 */
html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

/* 设置viewport-fit为cover，以填充整个屏幕区域 */
@supports (width: fill-available) {
  body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    writing-mode: horizontal-tb !important;
    -webkit-overflow-scrolling: touch;
    /* viewport-fit: cover：将zb视口尺寸调整为覆盖整个屏幕区域 */
    /* 通过::-webkit-scrollbar、::-webkit-scrollbar-track、::-webkit-scrollbar-thumb进行样式设置 */
    /* 默认情况下，地址栏和底部栏会被齐平缩放模式中的内容所覆盖 */
    /* 通过padding-top设置页面内容下移导航栏高度，padding-bottom设置空白处大小 */
    viewport-fit: cover;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}