---
import ThemeToggle from "./ThemeToggle.astro"
---

<header>
  <div class="flex justify-between items-center">
    <img src="/logo.jpg" width="100px" />
    <ThemeToggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Chat For</span>
    <span class="gpt-subtitle">Help</span>
  </div>
</header>
