---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <link rel="icon" href="/logo.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/icons/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/icons/favicon-64x64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/favicon-192x192.png">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
